/*Since the platform does not allow large file-size within a plugins-widget, the script of the Spookinator has to be placed in multiple smaller plugins-widgets.*/

/*<style>*//*0*/
:root {
    scrollbar-gutter: stable;

    /**
     * Change these colors for easy portability to other (PBworks) color themes. Currently a YELLOW-THEME is used.
     * Use a tool like e.g. https://codepen.io/sosuke/pen/Pjoqqp to convert a hex color to a CSS filter to be used on SVG images.
     *
     * Example GREEN-THEME:
     * - main-color: #5FA644;
     * - highlight-color: #DEEFD1;
     * - highlight-color-as-filter: invert(86%) sepia(14%) saturate(284%) hue-rotate(51deg) brightness(104%) contrast(97%);
     * - hover-color-as-filter: invert(18%) sepia(77%) saturate(445%) hue-rotate(59deg) brightness(87%) contrast(85%);
     *
     * Example RED-THEME:
     * - main-color: #D66666;
     * - highlight-color: #FAC4C3;
     * - highlight-color-as-filter: invert(81%) sepia(10%) saturate(820%) hue-rotate(314deg) brightness(101%) contrast(96%);
     * - hover-color-as-filter: invert(8%) sepia(74%) saturate(3662%) hue-rotate(351deg) brightness(84%) contrast(95%);
     */
    --main-color: #fccf2d;
    --highlight-color: #FEE9A0;
    --highlight-color-as-filter: invert(93%) sepia(19%) saturate(857%) hue-rotate(335deg) brightness(103%) contrast(99%);
    --hover-color-as-filter: invert(73%) sepia(85%) saturate(416%) hue-rotate(355deg) brightness(50%) contrast(98%);

    --on-color-as-filter: invert(49%) sepia(92%) saturate(2016%) hue-rotate(86deg) brightness(80%) contrast(126%);
    --on-hover-color-as-filter: invert(49%) sepia(92%) saturate(201%) hue-rotate(86deg) brightness(100%) contrast(126%);
    --off-color-as-filter: invert(16%) sepia(67%) saturate(7028%) hue-rotate(358deg) brightness(80%) contrast(121%);
    --off-hover-color-as-filter: invert(16%) sepia(67%) saturate(3502%) hue-rotate(358deg) brightness(100%) contrast(121%);

    --text-color: #444;
    --text-color-as-filter: invert(0%) sepia(0%) saturate(7482%) hue-rotate(96deg) brightness(94%) contrast(104%);
}

input {
    accent-color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}

.flex {
    display:flex;
    justify-content: center;
}

.vertical-align {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

#spookinator__source-table { /* only show the source table when editing the page */
    display: none;
}

#spookinator__item-counter {
    background: var(--highlight-color);
    text-align: center;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
}

.spookinator__toggle-button {
    filter: var(--highlight-color-as-filter);
    margin: 10px;
    width: 39px;
    height: 39px;
}

.spookinator__toggle-button:hover {
    filter: var(--hover-color-as-filter);
    transition: 0.3s;
    cursor: pointer;
}

.spookinator__toggle-button--active {
    filter: var(--on-color-as-filter);
}

.spookinator__box {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    overflow: hidden;
    color: var(--text-color);
    flex-wrap: wrap;
    justify-content: center;
}

#spookinator__results {
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spookinator__item {
    padding: 6px;
    margin: 3px;
    line-height: 1.5em;
    width: 250px;
    background: var(--main-color);
    flex-grow: 1;
}

.spookinator__item:focus {
    width: 538px;
    background: var(--highlight-color);
}

.spookinator__item h4 {
    margin: 0;
}

img {
    height: 32px;
    width: 32px;
}

.spookinator__item img,
#spookinator__item-counter img {
    margin: 0 1px;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

.spookinator__item:hover {
    background: var(--highlight-color);
    transition: 0.3s;
    cursor: pointer;
}

.spookinator__item--hidden {
    display: none !important;
}

#spookinator__filters {
    position: relative;
    margin: 60px auto 0;
    padding: 0;
    max-width: 960px;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.spookinator__filter-section {
    padding: 10px;
    min-width: 310px;
    background: var(--main-color);
    flex-grow: 1;
    text-align: center;
}

.spookinator__filter-section--small {
    min-width: 250px;
}

.spookinator__filter-section h4 {
    background: var(--highlight-color);
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
}

#spookinator__footer {
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    margin: 30px 10px 10px;
    text-align: right;
}

#spookinator__footer a {
    text-decoration: none !important;
    color: var(--text-color);
    margin-left: 20px;
}
/*</style>*//*0*/

/*<style>*//*1*/
.hidden-checkbox {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
}

label.label-checkbox {
    display: inline-block;
    padding: 8px 5px;
}

.label-checkbox > input[type='checkbox'] + img {
    filter: var(--highlight-color-as-filter);
}

.label-checkbox > input[type='checkbox']:checked + img,
.label-checkbox > input[type='checkbox'][state='all'] + img {
    filter: var(--text-color-as-filter);
}

.label-checkbox > input[type='checkbox'][state='on'] + img {
    filter: var(--on-color-as-filter);
}

.label-checkbox > input[type='checkbox'][state='off'] + img {
    filter: var(--off-color-as-filter);
}

/* Slightly lighter hover color to indicate affordance */
.label-checkbox > input[type='checkbox']:hover + img {
    filter: var(--hover-color-as-filter);
}

.label-checkbox > input[type='checkbox'][state='on']:hover + img {
    filter: var(--on-hover-color-as-filter);
}

.label-checkbox > input[type='checkbox'][state='off']:hover + img {
    filter: var(--off-hover-color-as-filter);
}

.inspirator__input--range {
    width: 190px;
    margin-right: 15px;
}

.spookinator__input--input {
    border-radius: 5px;
    padding: 3px;
}

/* Toggle */
.spookinator__toggle,
#spookinator__item-counter {
    cursor: pointer;
}

.spookinator__toggle--hidden-div,
#spookinator__item-counter__stats {
    display: none;
    max-height: 0;
}

#spookinator__item-counter__stats span {
    display: inline-block;
    width: 110px;
    text-align: left;
}

.spookinator__toggle:focus .spookinator__toggle--hidden-div,
#spookinator__item-counter:focus #spookinator__item-counter__stats {
    display: block;
    max-height: 200px;
    line-height: 1em;
    animation: toggle-animation 0.5s both ease-in-out;
}

#spookinator__trail .spookinator__toggle--hidden-div {
    display: block;
    max-height: 200px;
    line-height: 1em;
}

#spookinator__trail .spookinator__item {
    width: 98%;
}

@keyframes toggle-animation {
    from {
        display: none;
        max-height: 0;
        color: var(--main-color);
    }
    to {
        display: block;
        max-height: 2000px;
        color: var(--text-color);
    }
}

/* Animations */
.update-counter {
    animation: update-counter-animation 0.5s forwards;
}

@keyframes update-counter-animation {
    from {
        opacity: 0;
        font-size: 14px;
    }
    to {
        opacity: 1;
        font-size: 16px;
    }
}

/* Ghost */
.ghost {
    width: 140px;
    height: 160px;
    position: relative;
    margin: 30px auto 0;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    cursor: pointer;
    animation: floating 2s infinite ease-in-out;
}

.ghost__face {
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);
}

.ghost__eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.ghost__eyes span {
    width: 24px;
    height: 24px;
    background-color: #2c3a47;
    border-radius: 50%;
}

.ghost:hover .ghost__eyes span {
    height: 16px;
}

.ghost__mouth {
    width: 40px;
    height: 20px;
    background-color: #2c3a47;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost:hover .ghost__mouth {
    height: 12px;
}

.ghost__hands {
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.ghost__hands span {
    width: 20px;
    height: 30px;
    background-color: #f2f2f2;
}

.ghost__hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.ghost__hands span:last-child {
    border-radius: 0 20px 20px 0;
}

.ghost__feet {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.ghost__feet span {
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.ghost__feet span:first-child {
    border-radius: 0 0 20px 12px;
}

.ghost__feet span:last-child {
    border-radius: 0 0 12px 20px;
}

@keyframes floating {
    50% {
        transform: translateY(-30px);
    }
}
/*</style>*//*1*/