:root {
    scrollbar-gutter: stable;

    /**
     * Change these colors for easy portability to other (PBworks) color themes. Currently a YELLOW-THEME is used.
     * Use a tool like e.g. https://codepen.io/sosuke/pen/Pjoqqp to convert a hex color to a CSS filter to be used on SVG images.
     *
     * Example GREEN-THEME:
     * - main-color: #5FA644;
     * - highlight-color: #DEEFD1;
     * - highlight-color-as-filter: invert(86%) sepia(14%) saturate(284%) hue-rotate(51deg) brightness(104%) contrast(97%);
     * - hover-color-as-filter: invert(18%) sepia(77%) saturate(445%) hue-rotate(59deg) brightness(87%) contrast(85%);
     *
     * Example RED-THEME:
     * - main-color: #D66666;
     * - highlight-color: #FAC4C3;
     * - highlight-color-as-filter: invert(81%) sepia(10%) saturate(820%) hue-rotate(314deg) brightness(101%) contrast(96%);
     * - hover-color-as-filter: invert(8%) sepia(74%) saturate(3662%) hue-rotate(351deg) brightness(84%) contrast(95%);
     */
    --main-color: #fccf2d;
    --highlight-color: #FEE9A0;
    --highlight-color-as-filter: invert(93%) sepia(19%) saturate(857%) hue-rotate(335deg) brightness(103%) contrast(99%);
    --hover-color-as-filter: invert(73%) sepia(85%) saturate(416%) hue-rotate(355deg) brightness(50%) contrast(98%);

    --text-color: #444;
    --text-color-as-filter: invert(0%) sepia(0%) saturate(7482%) hue-rotate(96deg) brightness(94%) contrast(104%);
}

input {
    accent-color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}

#spookinator__source-table { /* only show the source table when editing the page */
    display: none;
}

#spookinator__item-counter {
    background: var(--highlight-color);
    text-align: center;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    height: 20px;
}

#spookinator__results {
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spookinator__item {
    padding: 6px;
    margin: 3px;
    line-height: 1.5em;
    width: 250px;
    background: var(--main-color);
    flex-grow: 1;
}

.spookinator__item:focus {
    width: 538px;
    background: var(--highlight-color);
}

.spookinator__item h4 {
    margin: 0;
}

img {
    height: 32px;
    width: 32px;
}

.spookinator__item img {
    margin: 0 1px;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

.spookinator__item:hover {
    background: var(--highlight-color);
    transition: 0.3s;
    cursor: pointer;
}

.spookinator__item--hidden {
    display: none;
}

#spookinator__filters {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.spookinator__filter-section {
    padding: 10px;
    min-width: 250px;
    background: var(--main-color);
    flex-grow: 1;
    text-align: center;
}

.spookinator__filter-section--icon-range {
    margin: 0 10px;
}

.spookinator__filter-section h4 {
    background: var(--highlight-color);
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
}

#spookinator__footer {
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    margin: 10px;
    text-align: right;
}

.hidden-checkbox {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
}

label.label-checkbox {
    display: inline-block;
    padding: 4px;
    margin: 4px 0;
}

.label-checkbox > input[type='checkbox'] + img {
    filter: var(--highlight-color-as-filter);
}

.label-checkbox > input[type='checkbox']:checked + img {
    filter: var(--text-color-as-filter);
}

/* Slightly lighter hover color to indicate affordance */
.label-checkbox > input[type='checkbox']:hover + img {
    filter: var(--hover-color-as-filter);
}

.inspirator__input--range {
    width: 190px;
    margin-right: 15px;
}

/* Toggle */
.spookinator__toggle {
    cursor: pointer;
}

.spookinator__toggle--hidden-div {
    display: none;
    max-height: 0;
}

.spookinator__toggle:focus .spookinator__toggle--hidden-div {
    display: block;
    max-height: 200px;
    line-height: 1em;
    animation: toggle-animation 0.5s both ease-in-out;
}

@keyframes toggle-animation {
    from {
        display: none;
        max-height: 0;
        color: var(--highlight-color);
    }
    to {
        display: block;
        max-height: 2000px;
        color: var(--text-color);
    }
}

/* Animations */
.update-counter {
    animation: update-counter-animation 0.5s forwards;
}

@keyframes update-counter-animation {
    from {
        opacity: 0;
        font-size: 14px;
    }
    to {
        opacity: 1;
        font-size: 16px;
    }
}